<style>
    h1 {
        display: inline-block;
    }

    #monkey {
        display: block;
    }
</style>

<h1 id="count">0</h1><h1>&nbsp;Tsssss</h1>
<img id="monkey" src="monkey.jpg">
<audio id="cymbal" src="cymbal2.wav" />
<script>
    var sound = document.getElementById('cymbal');
    var monkey = document.getElementById('monkey');
    var count = document.getElementById('count');

    monkey.addEventListener('click', function(){
        monkey.src = 'majom2.jpg';

        setTimeout(function(){
            monkey.src = 'monkey.jpg';
        }, 100);

        sound.pause();
        sound.currentTime = 0;
        sound.play();

        var currentCount = parseInt(count.innerHTML);
        count.innerHTML = currentCount + 1;
    })
</script>
